@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "style_zero";

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.button {
    background: #f6762c;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fafafa;
    min-width: 160px;
    height: 50px;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input {
        display: none;
    }
    &__label {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    &__span {
        margin-bottom: 6px;
        display: block;
        width: 40px;
        height: 3px;
        background-color: #f6762c;
        transition: 0.5s;
    }
    &__menu {
        display: none;
    }
    &__input:checked ~ .header__menu {
        z-index: 1;
        background-color: rgb(80, 80, 80);
        text-align: center;
        padding-top: 70px;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & > ul {
            margin-bottom: 0;
        }
    }
    &__input:checked ~ .header__label {
        position: fixed;
        top: 44px;
        right: 15px;
        span:first-child {
            transform: rotate(45deg) translate(6px, 6px);
        }
        span:nth-child(2) {
            display: none;
        }
        span:last-child {
            transform: rotate(-45deg);
        }
    }
    &__item {
        min-width: 80px;
        margin-right: 30px;
        position: relative;
        margin-bottom: 20px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover a{
            font-weight: bold;
            color: #fafafa;
            opacity: 1;
        }
    }
    &__link {
        font-size: 14px;
        line-height: 16px;
        color: #fafafa;
        opacity: 0.7;
        
    }
    &__dropdown {
        display: none;
    }
    &__button {
        display: none;
    }
}

.about {
    padding-top: 100px;
    background: url(../img/img-bg.jpg) 0 0 / cover no-repeat;
    &__body {
        text-align: center;
        padding-bottom: 50px;
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: #fafafa;
    }
    &__title {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 57px;
        line-height: 67px;
        color: #fafafa;
    }
    &__text {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 21px;
        color: #fafafa;
        opacity: 0.7;
    }
}

.food {
    &__row {
        text-align: center;
    }
    &__column {
        width: 100%;
    }
    &__card {
        box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        margin-bottom: 20px;
        img {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
    }
    &__title {
        margin: 25px 0 15px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
    }
    &__text {
        padding: 0 35px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        opacity: 0.7;
        padding-bottom: 20px;
    }
}

.burger {
    background: #f2ebe6;
    &__row {
        text-align: center;
        padding-bottom: 30px;
    }
    &__column img {
        width: 100%;
    }
    &__title {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 44.2px;
        line-height: 52px;
        color: #150101;
    }
    &__text {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
        color: #150101;
        opacity: 0.7;
    }
    &__price {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: #f6762c;
    }
}

.price {
    text-decoration-line: line-through;
    opacity: 0.5;
}
.product {
    &__row {
        padding: 20px 0;
        text-align: center;
    }
    &__card {
        position: relative;
        padding: 60px 10px 60px 40px;
        margin-bottom: 20px;
    }
    &__card img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #fafafa;
    }
    &__text {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
        color: #fafafa;
        opacity: 0.7;
    }
    &__price {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: #fafafa;
    }
}

.footer {
    background: #0d0400;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    &__card {
        display: flex;
        flex-direction: column;
    }
    &__mail {
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        opacity: 0.8;
        margin: 25px 0 10px 0;
    }
    &__img {
        padding-right: 10px;
    }
    &__web {
        display: inline-block;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        opacity: 0.8;
        margin-bottom: 20px;
    }
    &__list {
        padding: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }
    &__link {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        opacity: 0.8;
    }
    &__social a {
        margin-right: 10px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .column-50 {
        flex: 0 1 50%;
        padding: 0 15px;
    }
    .food {
        &__card {
            width: 100%;
        }
    }
    .burger__row {
        display: flex;
        align-items: center;
    }
    .product {
        &__column {
            text-align: start;
        }
        &__body {
            width: 250px;
        }
        &__column:nth-child(odd) &__card {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    .footer {
        padding: 100px 0;
        text-align: left;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__web {
            margin-bottom: 0;
        }
        &__list,
        &__link:last-child {
            margin-bottom: 0;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .column-25 {
        flex: 0 1 25%;
        padding: 0 15px;
    }
    .header {
        &__label {
            display: none;
            span {
                display: none;
            }
        }
        &__input:checked ~ .header__menu {
            position: static;
            background-color: rgba(0, 0, 0, 0);
            padding: 0;
            text-align: start;
        }
        &__menu {
            display: flex;
            & > ul {
                display: flex;
                margin: 0;
            }
        }
        &__item {
            min-width: 80px;
            margin: 0 30px 0 0;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(2)::after {
                position: absolute;
                top: 0;
                right: 15px;
                content: "";
                width: 10px;
                height: 10px;
                border-left: 1px solid #fafafa;
                border-bottom: 1px solid #fafafa;
                transform: rotate(315deg);
            }
            &:nth-child(2):hover::after {
                border-left: 2px solid #fafafa;
                border-bottom: 2px solid #fafafa;
            }
            &:nth-child(2):hover .header__dropdown {
                position: absolute;
                display: block;
                top: 30px;
                left: -28px;
            }
           
        }
        &__dropdown {
            display: none;
            li {
                margin-bottom: 10px;
                color: white;
            }
        }
        &__button {
            display: block;
        }
    }
    .about {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100vh;
        &__body {
            padding: 0;
            text-align: start;
            width: 50%;
        }
        &__subtitle {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            color: #fafafa;
        }
        &__title {
            margin-bottom: 40px;
            font-weight: 500;
            font-size: 57px;
            line-height: 67px;
            color: #fafafa;
        }
        &__text {
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 21px;
            color: #fafafa;
            opacity: 0.7;
        }
    }
    .food {
        margin: 100px 0;
        &__card {
            margin: 0;
        }
    }
    .burger {
        &__row {
            text-align: start;
            margin: 0 -75px;
        }
        &__column {
            flex: 0 1 50%;
            padding: 0 75px;
        }
    }
}
